<html>
  <head>
		<title>Node.js IL Chat</title>
		<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script language="javascript">
			var socket;

			$(document).ready(function()
			{
				socket = io.connect('/');
				socket.on('feedback', function (data) {
					var content = $('#messages').html() + data + '<br/>';
					$('#messages').html(content);
          console.log(data);
				});

				$('#message').bind('keypress', function(e) {
					var code = (e.keyCode ? e.keyCode : e.which);
					 if(code == 13) { //Enter keycode
					   postMessage();
					 }
				});
			});

			function postMessage()
			{
				if (socket) {
					socket.emit('message_server', $('#message').val());
					$('#message').val('');
				}
			}
		</script>

		<style>
			body {
				background-color:#3d5c5c;
				color: white;
			}
		</style>

	</head>
	<body>
		<h2 class="white">Post your messages</h3>
		<table>
			<tr><td class="white">Your Message:</td><td><input id="message" type="text" size="50"></td></tr>
		</table>
		<h2 class="white">Messages</h3>
		<div id="messages">
		</div>
	</body>
</html>
